#cards {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 0px;
}

#cardbuttons {
  margin: 0px 5px 5px 5px;
  width: 80px;
}

#singleCard {
  margin: 10px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
