#wrapper{
    margin: 50px;
    padding: 30px 40px 30px 30px;
    border: 1px solid;
    border-radius: 5%;
}

#Cards{
    justify-content: flex-start;
    margin-left: 10%;
}

form{
    font-size: 20px;
}

form div{
    margin: 5px;
    width: 100%;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}